body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  line-height: 1.25;
  background-color: var(--color-secondary);
  color: var(--font-color);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}

p {
  margin: 10px 0;
  padding: 0;
}

.menu a {
  color: var(--font-color);
}

a {
  text-decoration: none;
  /* border-bottom: 1px solid #ddd7ca; */
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 15px;
}

li,
ol {
  margin: 6px 0;
}

.ols,
.uls {
  width: 100%;
  max-width: 720px;
  overflow-x: auto;
  margin-bottom: 0.5rem;
}

pre {
  margin-bottom: 15px;
  padding: 10px;
  color: #808080;
  text-align: left;
  line-height: 20px;
  font-family: var(--font-mono);
  font-size: 12pt;
  overflow-x: auto;
}

pre > code {
  font-size: 16px !important;
}

.article > pre,
div[style] {
  border: 0.8px solid var(--color-secondary-darker);
}

table[style] > tbody > tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0);
}

td[style] > pre[style] {
  margin: 0;
}

div[style] {
  margin-bottom: 15px;
}

code {
  font-family: var(--font-mono);
  font-size: 10pt;
  color: var(--color-red);
  background-color: var(--color-secondary-lighter);
  border-radius: 4px;
  padding: 2px 8px;
}

pre code {
  padding: 0;
  color: var(--font-color);
  background-color: unset;
}

.raw-pre {
  background-color: unset;
  border: none;
  color: var(--font-color);
  line-height: 1.25;
}

.tables {
  max-width: 720px;
  overflow-x: auto;
}

table {
  border-spacing: 0px;
  text-align: left;
  border-collapse: collapse;
  max-width: 720px;
  white-space: nowrap;
  margin-bottom: 10px;
}

td,
th {
  border: 0.8px solid var(--color-secondary-lighter);
}

th {
  background: var(--color-secondary);
  text-align: center;
  padding: 10px;
}

tr,
td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background: var(--color-secondary-darker-alt);
}

tr:nth-child(odd) {
  background: var(--color-secondary-darker);
}

table code {
  background: rgba(0, 0, 0, 0);
}

blockquote {
  border-left: 4px solid var(--color-primary);
  margin: 0;
  margin-bottom: 10px;
  padding: 0.2rem 1rem;
  color: #8ca6bd;
}

blockquote p {
  margin: 0;
}

.main-box {
  display: flex;
  height: 100vh;
}

.menu {
  background-color: var(--color-sidebar);
  padding: 30px 60px 30px 30px;
  flex: 0 0 auto;
  overflow-y: hidden;
  max-width: 320px;
}

.menu:hover {
  overflow-y: overlay;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

.article {
  max-width: 720px;
  margin: auto;
  padding: 30px;
  box-sizing: unset;
}

img {
  max-width: 100%;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
}

.menu ul ul {
  padding-left: 20px;
}

.menu ul ul ul {
  padding-left: 40px;
}

.menu ul ul ul ul {
  padding-left: 60px;
}

#goto-top {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  margin: 0;
  position: fixed;
  bottom: 15px;
  right: 10px;
  border-radius: 20px;
  background: var(--color-secondary-darker-alt);
}

@media (max-width: 680px) {
  .main-box {
    flex-direction: column;
  }
  .menu {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: min-content;
    padding: 25px;
  }
  .content {
    overflow: visible;
  }
}