/* Color Definitions */
:root {
    --color-secondary: #1c1c1c;
    --color-secondary-lighter: #2b2b2b;
    --color-secondary-darker: #252525;
    --color-secondary-darker-alt: #202020;

    
    --color-primary: #8CA6BD;
    --color-sidebar: #202020;

    --color-red: #F56174;
    --color-orange: #FF9473;
    --color-yellow: #FFCC66;
    --color-olive: #66D494;
    --color-green: #7EF2AE;
    --color-teal: #7DBBD1;
    --color-blue: #8CA6BD;
    --color-violet: #C38EFD;
    --color-purple: #DAA3FF;
    --color-pink: #FF75BC;
    --color-brown: #717171;
    --color-grey: #525252;
    --color-black: #1A1F28;
    --color-gold: #FFCC66;
    --color-white: #E6E6E6;

    --font-color: #DDDDDD;
    --font-sans: "Fira Sans";
    --font-mono: "Fira Mono";
}