/* Color Definitions */
:root {
    --color-primary: #8CA6BD;
    --color-primary-dark-1: #7e95aa;
    --color-primary-dark-2: #708597;
    --color-primary-dark-3: #627484;
    --color-primary-dark-4: #546471;
    --color-primary-dark-5: #46535f;
    --color-primary-dark-6: #38424c;
    --color-primary-dark-7: #2a3239;
    
    --color-primary-light-1: #98afc4;
    --color-primary-light-2: #a3b8ca;
    --color-primary-light-3: #afc1d1;
    --color-primary-light-4: #bacad7;
    --color-primary-light-5: #c6d3de;
    --color-primary-light-6: #d1dbe5;
    --color-primary-light-7: #dde4eb;

    --color-primary-alpha-10: hsla(208, 27%, 65%, 0.09803921568627451);
    --color-primary-alpha-20: hsla(208, 27%, 65%, 0.2);
    --color-primary-alpha-30: hsla(208, 27%, 65%, 0.29411764705882354);
    --color-primary-alpha-40: hsla(208, 27%, 65%, 0.4);
    --color-primary-alpha-50: hsla(208, 27%, 65%, 0.5019607843137255);
    --color-primary-alpha-60: hsla(208, 27%, 65%, 0.6);
    --color-primary-alpha-70: hsla(208, 27%, 65%, 0.7019607843137254);
    --color-primary-alpha-80: hsla(208, 27%, 65%, 0.8);
    --color-primary-alpha-90: hsla(208, 27%, 65%, 0.8823529411764706);
    
    --color-secondary: #212733;
    --color-secondary-dark-1: #242933;
    --color-secondary-dark-2: #20242e;
    --color-secondary-dark-3: #1c1f28;
    --color-secondary-dark-4: #181b22;
    --color-secondary-dark-5: #101217;
    --color-secondary-dark-6: #101217;
    --color-secondary-dark-7: #0c0d11;
    --color-secondary-dark-8: #08090b;
    --color-secondary-dark-9: #040406;
    --color-secondary-dark-10: #040405;
    --color-secondary-dark-11: #030305;
    
    --color-secondary-light-1: #282d39;
    --color-secondary-light-2: #3e424d;
    --color-secondary-light-3: #535761;
    --color-secondary-light-4: #696c74;
    --color-secondary-light-5: #7e8188;
    --color-secondary-light-6: #94969c;
    --color-secondary-light-7: #a9abb0;

    --color-secondary-alpha-10: hsla(222, 18%, 19%, 0.09803921568627451);
    --color-secondary-alpha-20: hsla(222, 18%, 19%, 0.2);
    --color-secondary-alpha-30: hsla(222, 18%, 19%, 0.29411764705882354);
    --color-secondary-alpha-40: hsla(222, 18%, 19%, 0.4);
    --color-secondary-alpha-50: hsla(222, 18%, 19%, 0.5019607843137255);
    --color-secondary-alpha-60: hsla(222, 18%, 19%, 0.6);
    --color-secondary-alpha-70: hsla(222, 18%, 19%, 0.7019607843137254);
    --color-secondary-alpha-80: hsla(222, 18%, 19%, 0.8);
    --color-secondary-alpha-90: hsla(222, 18%, 19%, 0.8823529411764706);

    --color-red: #F56174;
    --color-orange: #FF9473;
    --color-yellow: #FFCC66;
    --color-olive: #66D494;
    --color-green: #7EF2AE;
    --color-teal: #7DBBD1;
    --color-blue: #8CA6BD;
    --color-violet: #C38EFD;
    --color-purple: #DAA3FF;
    --color-pink: #FF75BC;
    --color-brown: #717171;
    --color-grey: #525252;
    --color-black: #1A1F28;
    --color-gold: #FFCC66;
    --color-white: #E6E6E6;

    --color-button-green: var(--color-green);
    --color-button-green-hover: var(--color-olive);

    --color-button-red: var(--color-red);
    --color-button-red-hover: #c05361;

    --color-diff-removed-word-bg: #844151;
    --color-diff-added-word-bg: #66918B;
    --color-diff-removed-row-bg: #5A3644;
    --color-diff-added-row-bg: #405A5C;
    --color-diff-removed-row-border: #f1c0c0;
    --color-diff-added-row-border: #e6ffed;
    --color-diff-inactive: var(--color-secondary);

    
    --color-text: #E6E6E6;
    --color-text-light: #A9A9A9;
    --color-text-light-2: grey;
    --color-text-light-3: #a0a0a0;
    --color-text-dark: #eeaeae;


    --font-sans: "Fira Sans";
    --font-mono: "Fira Code";
}